<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.desktopecho.dnswatch</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/PiCon.app/Contents/Resources/PiCon-DNSwatch</string>
	</array>
	<key>StandardOutPath</key>
	<string>/private/tmp/picon-dnswatch.log</string>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
